extends base

block vars
    - var siteTitle = 'Portfolio title';

        include header
        .block.
            Portfolio
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Dignissimos corrupti aperiam vel ea quae qui molestiae corporis maiores totam
            mollitia sed nesciunt error cumque in sit, voluptatem inventore nulla ducimus.
        ul
            li li 
            li li 
            li li 